body {
  background-color: #181907;
  color: #eeeeee;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
}

#outerContainer {
  position: fixed;
  width: 98%;
  height: 90%;
  overflow: hidden;
  padding: 0;
  margin-top: 10px;
}

#container {
  -webkit-transform-origin: 0px 0px;
  -webkit-transform: scale(1.0);
  -webkit-transition: -webkit-transform 0.5s linear;
  -webkit-backface-visibility: hidden;
  -moz-transform-origin: 0px 0px;
  -moz-transform: scale(1.0);
  -moz-transition: -moz-transform 0.5s linear;
  -moz-backface-visibility: hidden;
}

.bucket {
  width: 600px;
  top: 0px;
  position: absolute;
  margin-left: 5px;
  z-index: 200;
}

h1 {
  font-variant: small-caps;
  margin-bottom: 5px;
}

h1.title {
  color: #D7DF01;
  text-shadow: 0 0 3px #F3F781;
}

.bucket h1 {
  font-size: 100px;
  margin-top: 0;
}

.bucket div {
  float: left;
  padding: 0 10px 10px 0;
  background-color: #181907;
}

.bucket img {
  width: 145px;
  border-radius: 15px;
  -moz-border-radius: 15px;
}

.push {
  -webkit-transition: -webkit-transform 0.5s linear;
  -webkit-backface-visibility: hidden;
  -moz-transition: -moz-transform 0.5s linear;
  -moz-backface-visibility: hidden;
  cursor: pointer;
}

.highlighted {
  -webkit-transform: scale(0.001);
  -moz-transform: scale(0.001);
}

.boxShadow {
  -moz-box-shadow: 0 0 5px 5px #F5F6CE;
  -webkit-box-shadow: 0 0 5px 5px #F5F6CE;
  box-shadow: 0 0 5px 5px #F5F6CE;
}

.selected {
  -webkit-transform-origin: 90% 90%;
  -moz-transform-origin: 90% 90%;
  z-index: -10;
  -webkit-transform: scale(2.0);
  -moz-transform: scale(2.0);
}

#dialog-container {
  position: absolute;
  left: 0px;
  top: 0px;
  pointer-events: none;
}

#event-display {
  display: none;
  position: relative;
  background-color: #000;
  color: #EEE;
  width: 400px;
  border: 1px solid #EEE;
  -webkit-box-shadow: 3px 3px 4px #000;
  -moz-box-shadow: 3px 3px 4px #000;
  box-shadow: 3px 3px 4px #000;
  border-radius: 15px;
  -moz-border-radius: 15px;
  padding: 10px 10px 10px 10px;
  pointer-events: all;
}

#event-display h4 {
  margin: 3px 0 3px 0;
}

#event-display span, #event-display a {
  display: block;
  color: #ddd;
  font-size: 0.7em;
  margin-bottom: 3px;
}

#event-display a {
  color: #D7DF01;
  text-decoration: none;
}

#event-display a:hover {
  text-decoration: underline;
}

.matrix {
  color: rgba(0, 255, 0, .4);
  text-shadow: rgba(255, 255, 255, .8) 0px 0px 4px;
  position: absolute;
  left: 0;
  top: 0;
  width: 600px;
  z-index: 100;
}

@-webkit-keyframes fade {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fall {
  from { top: 0px; }
  to  { top: 2800px; }
}

.matrix div {
  position: relative;
  float: left; /* float doesn't work when roated, arse! Will need to hack in JS */
  margin-left: 50px;
  font-size: 2.8em;
  height: 60px;
  width: 600px;
  overflow: hidden;
  opacity: 0;

  -webkit-animation-duration: 12s;
  -webkit-transform-origin: 0%;
  -webkit-transform: rotate(270deg);

  /* animation */
  -webkit-animation-name: fall, fade;
  -webkit-animation-iteration-count: 1; 
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: ease-in-out;
}

.matrix span.high {
  color: rgb(0, 255, 0);
  text-shadow: rgb(255, 255, 255) 0px 0px 5px;
}
