body {
  background-color: #181907;
  color: #eeeeee;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
}

#outerContainer {
  position: fixed;
  width: 98%;
  height: 90%;
  overflow: hidden;
  padding: 0;
  margin-top: 10px;
}

#container {
  -webkit-transform-origin: 0px 0px;
  -webkit-transform: scale(1.0);
  -webkit-transition: -webkit-transform 0.5s linear;
  -webkit-backface-visibility: hidden;
}

.bucket {
  width: 600px;
  margin-left: 30px;
  top: 0px;
  position: absolute;
}

h1 {
  font-variant: small-caps;
  margin-bottom: 5px;
}

h1.title {
  color: #D7DF01;
  text-shadow: 0 0 3px #F3F781;
}

.bucket h1 {
  font-size: 100px;
  margin-top: 0;
}

.bucket div {
  float: left;
  padding: 0 10px 10px 0;
}

.bucket img {
  width: 145px;
  border-radius: 15px;
  -moz-border-radius: 15px;
}

.push {
  -webkit-transition: -webkit-transform 0.5s linear;
  -webkit-backface-visibility: hidden;
  cursor: pointer;
}

.highlighted {
  -webkit-transform: scale(0.001);
}

.boxShadow {
  box-shadow: 3px 3px 10px 5px #F3F781;
}

.selected {
  -webkit-transform-origin: 90% 90%;
  z-index: -10;
  -webkit-transform: scale(2.0);
}

#dialog-container {
  position: absolute;
  left: 0px;
  top: 0px;
  pointer-events: none;
}

#event-display {
  display: none;
  position: relative;
  background-color: #000;
  color: #EEE;
  width: 400px;
  border: 1px solid #EEE;
  -webkit-box-shadow: 3px 3px 4px #000;
   border-radius: 15px;
  -moz-border-radius: 15px;
  padding: 10px 10px 10px 10px;
  pointer-events: all;
}

#event-display h4 {
  margin: 3px 0 3px 0;
}

#event-display span, #event-display a {
  display: block;
  color: #ddd;
  font-size: 0.7em;
  margin-bottom: 3px;
}

#event-display a {
  color: #D7DF01;
  text-decoration: none;
}

#event-display a:hover {
  text-decoration: underline;
}
