body {
  background-color: #181907;
  font-style: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
  color: #eeeeee;
}

#outerContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#container {
  -webkit-transform-origin: 0px 0px;
  -webkit-transform: scale(1.0);
  -webkit-transition: -webkit-transform 0.5s linear;
  -webkit-backface-visibility: hidden;
  -moz-transform-origin: 0px 0px;
  -moz-transform: scale(1.0);
  -moz-transition: -moz-transform 0.5s linear;
  -moz-backface-visibility: hidden;
}

.bucket {
  width: 600px;
  margin-left: 30px;
  top: 0px;
  position: absolute;
}

h1 {
  font-variant: small-caps;
}

h1.title {
  color: #D7DF01;
  text-shadow: 0 0 3px #F3F781;
}

.bucket h1 {
  font-size: 100px;
}

.bucket div {
  float: left;
  padding: 0 10px 10px 0;
}

.bucket img {
  width: 145px;
  border-radius: 15px;
  -moz-border-radius: 15px;
}

.push {
  -webkit-transition: -webkit-transform 0.5s linear;
  -webkit-backface-visibility: hidden;
  -moz-transition: -moz-transform 0.5s linear;
  -moz-backface-visibility: hidden;
  cursor: pointer;
}

.fresh {
  -webkit-transform: scale(0.001);
  -moz-transform: scale(0.001);
}

.shadow img {
  box-shadow: 3px 3px 10px 5px #F3F781;
  -webkit-box-shadow: 3px 3px 10px 5px #F3F781;
  -moz-box-shadow: 3px 3px 10px 5px #F3F781;
}

.fresh img {
  box-shadow: none;
}

.selected {
  -webkit-transform-origin: 90% 90%;
  -moz-transform-origin: 90% 90%;
  z-index: -10;
  -webkit-transform: scale(2.0);
  -moz-transform: scale(2.0);
}

#dialog-container {
  position: absolute;
  left: 0px;
  top: 0px;
  pointer-events: none;
}

#event-display {
  display: none;
  position: relative;
  background-color: #000;
  color: #EEE;
  width: 400px;
  border: 1px solid #EEE;
  -webkit-box-shadow: 3px 3px 4px #000;
  -moz-box-shadow: 3px 3px 4px #000;
  box-shadow: 3px 3px 4px #000;
  border-radius: 15px;
  -moz-border-radius: 15px;
  padding: 10px 10px 10px 10px;
  pointer-events: all;
}

#event-display span {
  display: block;
  margin-bottom: 3px;
}
