body {
  background-color: #181907;
  font-style: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
  color: #eeeeee;
}

#container {
  -webkit-transform-origin: 0px 0px;
  -webkit-transform: scale(1.0);
  -webkit-transition: -webkit-transform 0.5s linear;
  width: auto;
}

.bucket {
  width: 600px;
  margin-left: 10px;
  top: 0px;
  position: absolute;
}

h1 {
  font-variant: small-caps;
}

h1.title {
  color: #D7DF01;
  text-shadow: 0 0 3px #F3F781;
}

.bucket h1 {
  font-size: 100px;
}

.bucket div {
  float: left;
  padding: 0 10px 10px 0;
}

.bucket img {
  width: 145px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  box-shadow: 3px 3px 10px 5px #F3F781;
}

.push {
  -webkit-transform: scale(1.0);
  -webkit-transition: -webkit-transform 0.5s linear;
}

.highlighted {
  -webkit-transform: scale(0.2);
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter:alpha(opacity=5);
}

#dialog-container {
  position: absolute;
}

#event-display {
  display: none;
  position: relative;
  background-color: #FFF;
  border: 1px solid #000;
  -webkit-box-shadow: 3px 3px 4px #000;
}

#event-display span {
  display: block;
  margin-bottom: 3px;
}
